@page "/asignacionesOTs"
@inject IRepository repository

<h3>Asignaciones</h3>

<a class="btn btn-primary mb-3" href="#">Traer Datos</a>
<a class="btn btn-primary mb-3" href="#">Grabar a Excel</a>

<p>Cantidad de Asignaciones: @CantAsignacionesOTs</p>

<GenericList MyList="AsignacionesOTs">
    <Body>
        <table class="table table-striped">
            <thead class="small">
                <tr class="small">
                    <th class="small">IDREGISTRO</th>
                    <th class="small">RECUPIDJOBCARD</th>
                    <th class="small">CLIENTE</th>
                    <th class="small">NOMBRE</th>
                    <th class="small">DECO1</th>
                    <th class="small">ESTADO3</th>
                    <th class="small">PasaDefinitiva</th>
                    <th class="small">LoteNro</th>
                    <th class="small">InformadaWS</th>
                    <th class="small">CodigoCierre</th>
                    <th class="small">FECHACAPTURA</th>
                    <th class="small">HsCumplidaTime</th>
                    <th class="small">FechaEvento1</th>
                    <th class="small">Evento1</th>
                </tr>
            </thead>
            <tbody class="small">
                @foreach (var asignacion in AsignacionesOTs!)
                {
                    <tr class="small">
                        <td class="small"> @asignacion.IDREGISTRO</td>
                        <td class="small"> @asignacion.RECUPIDJOBCARD</td>
                        <td class="small"> @asignacion.CLIENTE</td>
                        <td class="small"> @asignacion.NOMBRE</td>
                        <td class="small"> @asignacion.DECO1</td>
                        <td class="small"> @asignacion.ESTADO3</td>
                        <td class="small"> @asignacion.PasaDefinitiva</td>
                        <td class="small"> @asignacion.LoteNro</td>
                        <td class="small"> @asignacion.InformadaWS</td>
                        <td class="small"> @asignacion.CodigoCierre</td>
                        <td class="small"> @asignacion.FECHACAPTURA</td>
                        <td class="small"> @asignacion.HsCumplidaTime</td>
                        <td class="small"> @asignacion.FechaEvento1</td>
                        <td class="small"> @asignacion.Evento1</td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>

@code {
    public List<AsignacionesOT>? AsignacionesOTs { get; set; }
    public int? CantAsignacionesOTs { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var responseHttp = await repository.Get<List<AsignacionesOT>>("/api/asignacionesots");
        AsignacionesOTs = responseHttp.Response;
        var responseHttp2 = await repository.Get<int>("/api/asignacionesots/count");
        CantAsignacionesOTs = responseHttp2.Response;
    }
}
